<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43002765503-q5s1a2u7huvs3p2a3dk9fk0kivphqf79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43002765503-q5s1a2u7huvs3p2a3dk9fk0kivphqf79</string>
	<key>API_KEY</key>
	<string>AIzaSyAbhgmSdTxBIu2PWiRdkRQbcW1u0HthOQU</string>
	<key>GCM_SENDER_ID</key>
	<string>43002765503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hung.FEEcommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-bh</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-bh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43002765503:ios:b37fde3d594833f715660a</string>
</dict>
</plist>